body {
  background-color: rgb(12, 120, 85);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.conteudo {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
}

h1 {
  font-size: 2rem;
}
